Repository ChorusOne/anthem, pull requests merged in 2020-10, with the labels that each got.

#115 Celo Voting Updates
  packages/client/src/ui/validators/CeloValidators.tsx
  packages/utils/src/client/data/celoAccountBalances.json
Labels: celo, patch

#113 Oasis Ledger Transaction Workflows
  packages/client/package.json
  packages/client/src/lib/celo-ledger-lib.ts
  packages/client/src/lib/oasis-ledger-lib.ts
  packages/client/src/modules/ledger/actions.ts
  packages/client/src/modules/transaction/actions.ts
  packages/client/src/modules/transaction/epics.ts
  packages/client/src/modules/transaction/store.ts
  packages/client/src/tools/client-utils.ts
  packages/client/src/tools/cosmos-utils.ts
  packages/client/src/tools/currency-utils.ts
  packages/client/src/tools/validation-utils.ts
  packages/client/src/ui/balances/BalancesComponents.tsx
  packages/client/src/ui/validators/CeloValidators.tsx
  packages/client/src/ui/workflows/CeloTransactionWorkflows.tsx
  packages/client/src/ui/workflows/CosmosTransactionWorkflows.tsx
  packages/client/src/ui/workflows/LedgerDialogWorkflow.tsx
  packages/client/src/ui/workflows/OasisTransactionWorkflows.tsx
  packages/cypress/src/support/cypress-utils.ts
  packages/server/src/server/sources/oasis.ts
  packages/utils/src/client/data/oasisAccountBalances.json
  packages/utils/src/networks.ts
  yarn.lock
Labels: bug, oasis, patch

#118 Fix path for schema.graphql file in server/ Dockerfile
  packages/server/Dockerfile
Labels: bug, patch

#119 Fix server deploy issue
  packages/server/Dockerfile
Labels: bug, patch

#120 gracefully handle null "fee" response
  packages/client/src/ui/transactions/CosmosTransactionListItem.tsx
Labels: patch

#116 Broadcast Oasis Transactions
  packages/client/global.d.ts
  packages/client/package.json
  packages/client/src/lib/blockchain-lib.ts
  packages/client/src/lib/oasis-ledger-lib.ts
  packages/client/src/modules/create-store.ts
  packages/client/src/modules/root.ts
  packages/client/src/modules/transaction/epics.ts
  packages/server/src/rest-api.ts
  yarn.lock
Labels: oasis, patch

#123 fix race condition when activating Celo votes
  packages/client/src/ui/workflows/CeloTransactionWorkflows.tsx
Labels: celo, patch
